<html>
  <head>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <img id="sky" src="/img/sky.jpg">
        <img id="neptune" src="/img/neptune.jpg">
        <img id="uranus" src="/img/uranus.jpg">
        <img id="saturn" src="/img/saturn.jpg">
        <img id="saturn_ring" src="/img/saturn_ring.png">
        <img id="jupiter" src="/img/jupiter.jpg">
        <img id="mars" src="/img/mars.jpg">
        <img id="moon" src="/img/moon.jpg">
        <img id="earth" src="/img/earth_atmos_2048.jpg">
        <img id="venus" src="/img/venus.jpg">
        <img id="mercury" src="/img/mercury.jpg">
        <img id="sun" src="/img/sun.jpg">
      </a-assets>
      <a-camera position="-7 17 -27" rotation="-17 -164 0">
        <a-cursor color="#10f900"></a-cursor>
      </a-camera>
      <!-- Neptune -->
      <a-sphere src="#neptune" position="-50.835 4.913 4.463" radius="2">
        <a-animation direction="alternate" attribute="position" from="-50.835 4.913 4.463" to="-50.835 8 4.463" repeat="3" begin="click"></a-animation>
      </a-sphere>

      <!-- Uranus -->
      <a-sphere src="#uranus" position="4.875 4.313 -43.733" radius="2.5">
        <a-animation direction="alternate" attribute="position" from="4.875 4.313 -43.733" to="4.875 8 -43.733" repeat="3" begin="click"></a-animation>
      </a-sphere>

      <!-- Saturn -->
      <a-torus class="saturn" src="#saturn_ring" position="28.16 4 -22" rotation="60 0 0" radius="4" radius-tubular="0.1">
        <a-animation direction="alternate" attribute="position" from="28.16 4 -22" to="28.16 8 -22" repeat="3" begin="click"></a-animation>
      </a-torus>
      <a-sphere class="saturn" src="#saturn" position="28.16 4 -22" radius="2.7" material="" geometry="">
        <a-animation direction="alternate" attribute="position" from="28.16 4 -22" to="28.16 8 -22" repeat="3" begin="click"></a-animation>
      </a-sphere>

      <!-- Jupiter -->
      <a-sphere src="#jupiter" position="-20.29 5.105 15.197" radius="3.5">
        <a-animation direction="alternate" attribute="position" from="-20.29 5.105 15.197" to="-20.29 9 15.197" repeat="3" begin="click"></a-animation>
      </a-sphere>

      <!-- Mars -->
      <a-sphere src="#mars" position="17.745 4.992 7.771" radius="2">
        <a-animation direction="alternate" attribute="position" from="17.745 4.992 7.771" to="17.745 8 7.771" repeat="3" begin="click"></a-animation>
      </a-sphere>

      <!-- Moon -->
      <a-sphere src="#moon" position="-7.093 7.844 -15.335" radius="0.35">
        <a-animation direction="alternate" attribute="position" from="-7.093 7.844 -15.335" to="-7.093 9.5 -15.335" repeat="3" begin="click"></a-animation>
      </a-sphere>

      <!-- Earth -->
      <a-sphere src="#earth" position="-8.386 5.215 -12.659" radius="2.5">
        <a-animation direction="alternate" attribute="position" from="-8.386 5.215 -12.659" to="-8.386 8 -12.659" repeat="3" begin="click"></a-animation>
      </a-sphere>

      <!-- Venus -->
      <a-sphere src="#venus" position="3.19 5.677 -8.855" radius="2">
        <a-animation direction="alternate" attribute="position" from="3.19 5.677 -8.855" to="3.19 9 -8.855" repeat="3" begin="click"></a-animation>
      </a-sphere>

      <!-- Mercury -->
      <a-sphere src="#mercury" position="6.671 5.959 -0.331" radius="1">
        <a-animation direction="alternate" attribute="position" from="6.671 5.959 -0.331" to="6.671 9 -0.331" repeat="3" begin="click"></a-animation>
      </a-sphere>
      <!-- Orbits -->
      <a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="0.132 6.055 0.489" rotation="-90 0 0" material="" geometry="radius:6.53;radiusTubular:0.01">
      </a-torus><a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="-9.093 5.262 -12.306" rotation="-50 0 0" geometry="radius:4.42;radiusTubular:0.01">
      </a-torus><a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="0.031 5.838 0.33" rotation="-90 0 0" geometry="radius:9.5;radiusTubular:0.01" material="">
      </a-torus><a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="0.031 4.659 -0.319" rotation="-90 0 0" geometry="radius:15.069999999999995;radiusTubular:0.010000000000000009" material="">
      </a-torus><a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="0.031 4.659 -0.319" rotation="-90 0 0" geometry="radius:19.499999999999996;radiusTubular:0.01" material="">
      </a-torus><a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="0.031 4.659 -0.319" rotation="-90 0 0" geometry="radius:26.509999999999998;radiusTubular:0.01" material="">
      </a-torus><a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="0.031 4.659 -0.319" rotation="-90 0 0" geometry="radius:35;radiusTubular:0.01" material="">
      </a-torus><a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="0.031 4.659 -0.319" rotation="-90 0 0" geometry="radius:43.95000000000001;radiusTubular:0.01" material="">
      </a-torus><a-torus height="0.5" color="white" radius="25" arc="360" radius-tubular="0.1" segments-radial="50" position="0.031 4.659 -0.319" rotation="-90 0 0" geometry="radius:51.62000000000001;radiusTubular:0.01" material="">
      </a-torus>
      <!-- Sun -->
      <a-sphere src="#sun" position="0.172 6.171 0.286" radius="5">
        <a-animation direction="alternate" attribute="position" from="0.172 6.171 0.286" to="0.172 9 0.286" repeat="3" begin="click"></a-animation>
      </a-sphere>
      <a-sky src="#sky"></a-sky>
    </a-scene>
  </body>
</html>